
<h1>Hello, Rails!</h1>

<h2>ユーザー一覧:</h2>
<ul>
  <% unless @users == nil %>
  <%  @users.each do | user | %>
  <li>
        <%=  user.user_name  %>
  </li>
  <%  end  %>
  <% end %>
</ul>

<%=link_to "会員登録", signup_path %>
<p><a href="/login">ログイン</a></p>

<!--<button onclick="<%#= UserMailer.send_mail.deliver%>">send_mail</button>-->