<h1>マイページ</h1>

<p>Welcome! <%= session[:current_user]['user_name'] %></p>
<p>E-Mail: <%= session[:current_user]['email'] %></p>

<p>
  <%= form_for model: DeleteAccount, url: {action: "destroy"}, method: :delete do |f| %>
    <%= submit_tag 'アカウントを削除する' %>
  <% end %>
</p>